h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

img {
  margin: auto;
  display: block;
}

ul {
  margin: auto;
  width: 200px;
  margin-top: 30px;
  list-style: upper-roman;
}

a {
  color: green;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}
